.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#email-form {
text-align: center;
margin-top: 50px;
}

#input-mail{
  appearance: none;
	border: none;
	outline: none;
	border-bottom: .2em solid #5389f7;
	background: rgba(#5389f7, .2);
	border-radius: .2em .2em 0 0;
	padding: .4em;
	color: #5389f7;
  font-size: 18px;
}

#otp-form {
  text-align: center;
  margin-top: 50px;
  }

#send-otp-btn{
  margin-top: 15px;
  appearance: none;
	border: .2em solid #5389f7;
	background: white;
	padding: .85em 1.5em;
	color: #5389f7;
	border-radius: 2em;
	transition: 0.5s;
  cursor:pointer;
  font-size: 13px;
  font-weight: bold;
	&:hover, &:focus, &:active {
		background: #5389f7;
		color: #fff;
  }
}

#login-btn{
  margin-top: 15px;
  appearance: none;
	border: .2em solid #5389f7;
	background: white;
	padding: .85em 1.5em;
	color: #5389f7;
	border-radius: 2em;
	transition: 0.5s;
  cursor:pointer;
  font-size: 13px;
  font-weight: bold;
	&:hover, &:focus, &:active {
		background: #5389f7;
		color: #fff;
  }
}

#input-otp{
  appearance: none;
	border: none;
	outline: none;
	border-bottom: .2em solid #5389f7;
	background: rgba(#5389f7, .2);
	border-radius: .2em .2em 0 0;
	padding: .4em;
	color: #5389f7;
  font-size: 18px;
}

#welcome-msg{
  background-color: #00d084;
  color: rgb(85, 84, 84);
  text-align: center;
}

#neolaia-logo{
  width: 300px;
  height: 50px;
}

#eu-logo{
  height: 60px;
  width: 300px;
}

#welcome-text{
  text-align: justify;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
}

#start-btn{
  margin-top: 15px;
  background-color: #4bb276;
  margin-bottom: 10px;
}

#start-btn:hover{
  background-color: #327a50;
}

#search-btn{
  background-color: #ed6b1d;
  margin-top: 15px;
  margin-left: 10px;
  margin-bottom: 10px;
}

#search-btn:hover{
  background-color: #a24b15;
}

.free-keywords-check{
  margin-left: 10px;
  margin-right: 10px;
}

#personal-btn{
  background-color: #00b3e4;
}

#research-btn{
  background-color: #8773b3
  ;
}

#orcid-btn{
  background-color: #4bb276;
}

#personal-btn:hover{
  background-color: #0487ab;
}

#research-btn:hover{
  background-color: #635382;
}

#orcid-btn:hover{
  background-color: #2a6543;
}

#dash-btn{
background-color:#e83181;
}

#search-card-btn{
  background-color: #ed6b1d;
}

#pill1{
  color: white !important;
  background-color: #00b3e4 !important;
}

#pill2{
  background-color: #4bb276 !important;
}

#pill3{
  background-color: #e4736e !important;
}

#search-sub{
  background-color: #ed6b1d;
  border-color: white;
}

#search-sub:hover{
  background-color: #a24b15;
}

#reset-btn{
  background-color: #da1a15 ;
}

#reset-btn:hover{
  background-color: #890f0b ;
}

#dropdown-tags{
  background-color: #00b3e4;
}